.abilities-title__wrapper {
  padding: 15px 0;

  @media (min-width: $tablet-width) {
    padding: 45px 0 30px 0;
  }
}

.abilities-title {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.abilities-title__item {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
  }
}

.abilities-desc {
  padding: 50px 0 280px 0;
  background-color: $grey;
  background-image: url("../img/iphone-screen-mobile@1x.png"), url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center bottom, center top;
  background-size: auto, contain;

  @media (min-width: $tablet-width) {
    min-height: 440px;
    padding: 50px 0 0 0;
    background-image: url("../img/iphone-screen-3-tablet@1x.png"), url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 170px) bottom, center top;
    background-size: auto, contain;
  }

  @media (min-width: $desktop-width) {
    padding-top: 5px;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }
}

.abilities-list {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;


  @media (min-width: $tablet-width) {
    width: 620px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}

.abilities-item {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: 310px;
    margin-left: 310px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    padding-top: 350px;
    margin-left: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.abilities-item:nth-child(1n) {
  @media (min-width: $desktop-width) {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
  }
}

.abilities-item:nth-child(2n) {
  @media (min-width: $desktop-width) {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
  }
}

.abilities-item:nth-child(3n) {
  @media (min-width: $desktop-width) {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
  }
}

.abilities-item__title {
  margin: 0 0 14px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.abilities-item__text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    width: 190px;
    margin: 0 auto;
  }
}
