.additional-nav {
  box-sizing: border-box;
  padding: 11px 10px;
  position: absolute;
  width: 100%;
  background-color: $transp-black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.additional-nav__toggle {
  width: 80px;
  height: 54px;
  padding: 15px;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  color: $white;

  &:hover {
    color: $red;
  }

  &:active {
    color: $red;
    opacity: 0.3;
  }
}
