.contact {
  padding-top: 50px;
}

.contact__wrapper {
  width: 225px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 544px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.contact-text {
  margin: 0 auto;
  width: 222px;
  color: $blue;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 544px;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
  }
}

.contact__title {
  color: $blue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.contact__info {
  color: $red;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: inherit;

  &:hover {
    color: $blue;
  }

  &:active {
    color: rgba($blue, 0.3);
  }
}

.contact__map {
  height: 300px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 450px;
  }

  @media (min-width: $desktop-width) {
    height: 550px;
  }
}

.map-bg {
  width: 100%;
  height: 200px;
  position: absolute;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: center -1px;
  background-size: contain;

  // @media (min-width: $tablet-width) {
  //   height: 69px;
  // }

  // @media (min-width: $desktop-width) {
  //   height: 104px;
  // }
}

.map-img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-map-tablet@1x.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
}
