.contact-title {
  color: $blue;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}
.contact__title {
  color: $blue;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.contact__info {
  color: $red;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
}
