.platform-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.platform-list__item:not(:last-child) {
  margin-right: 35px;
}

.platform-list__item-link {
  padding: 5px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.8;
  }

  &--ios {
    width: 46px;
    height: 57px;
    background-image: url("../img/logo-apple.svg");
  }

  &--android {
    width: 43px;
    height: 47px;
    background-image: url("../img/logo-android.svg");
  }

  &--win {
    width: 44px;
    height: 41px;
    background-image: url("../img/logo-microsoft.svg");
  }
}

.platform-list__text {
  color: $white;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }
}
