.plan {
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: $grey;
  background-image: url("../../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 150px;
  }
}

.plan-slider {
  width: 275px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.item__header {
  width: 275px;
  height: 95px;
  padding: 10px;
  box-sizing: border-box;
  background-color: $blue;
  color: $white;
  text-align: center;

  &--hit {
    background-image: url("../../img/hit.png");
    background-repeat: no-repeat;
  }
}

.header-title {
  margin: 5px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.header-price {
  margin: 5px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.plan-option {
  width: 275px;
  height: 60px;
  padding: 15px 20px;
  margin: 2px;
  box-sizing: border-box;
  background-color: $white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  &--available {
    background-image: url("../../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: 220px;
  }

  &--not-available {
    background-image: url("../../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: 220px;
  }
}

.plan-slider__toggles {
  width: 36px;
  margin: 25px auto 0 auto;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.plan-table {
  display: none;

  @media (min-width: $tablet-width) {
    display: table;
    margin: 0 auto;
  }
}

.plan-table__th:first-child {
  background-color: $grey;
}

.plan-table__th {
  padding: 15px;
  background-color: $blue;
  color: $white;

  &--hit {
    background-image: url("../../img/hit.png");
    background-repeat: no-repeat;
  }
}

.plan-table__tr {
  background-color: $white;
}

.plan-table__td {
  width: 145px;
  height: 45px;
  padding: 5px;

  @media (min-width: $desktop-width) {
    width: 235px;
    height: 60px;
    padding: 22px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }
}

.plan-table__plan-title {
  margin: 5px auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }
}

.plan-table__plan-price {
  margin: 5px auto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.plan-table__td--available {
  background-image: url("../../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.plan-table__td--not-available {
  background-image: url("../../img/icon-no.svg");
  background-repeat: no-repeat;
  background-position: center;
}
