.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.review-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.review__author-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }
}

.review__author-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.review-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__prev {
  display: none;
}

.reviews__next {
  display: none;
}

.reviews-toggles {
  margin-bottom: 35px;
}
