.site-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-list__item {
  text-align: center;

  a {
    padding: 15px 88px;
    box-sizing: border-box;
    display: block;
    background-color: $blue;
    color: $white;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid black;

    @media (min-width: $desktop-width) {
      padding: 25px 5px;
      margin-left: 50px;
      box-sizing: border-box;
      display: block;
      background-color: transparent;
      color: $white;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      text-transform: capitalize;
      text-decoration: none;
      border: none;
    }
  }
}
