// colors
$blue: #283645;
$dark-blue: #1d2631;
$transp-black: rgba(#000000, 0.3);
$grey: #f2f2f2;
$white: #ffffff;
$red: #d22856;
// fonts
$basic-font: "Open Sans", arial, sans-serif;
//viewports
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;