@import "blocks/_variables.scss";
@import "blocks/_page.scss";
@import "blocks/_page-header.scss";
@import "blocks/_main-nav.scss";
@import "blocks/_additional-nav.scss";
@import "blocks/_site-list.scss";
@import "blocks/_download.scss";
@import "blocks/_slider.scss";
@import "blocks/_platform-list.scss";
@import "blocks/_abilities.scss";
@import "blocks/_reviews.scss";
@import "blocks/_science.scss";
@import "blocks/_plan.scss";
@import "blocks/_contact.scss";
@import "blocks/_page-footer.scss";
@import "blocks/_social.scss";

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
